extends layout

block content
    div.content
        nav.cl-effect-12
            div.person
                a(href="/content/mingming") 明明
            div.person
                a(href="/content/honglai") 红来
            div.person
                a(href="/content/juanchen") 镌宸
            div.person
                a(href="/content/xuanzhou") 周旋