doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/component.css')
        link(rel='stylesheet', href='/stylesheets/demo.css')
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/personPage.css')
        script(src="/javascripts/jquery-2.0.3.min.js")
        script(src="/javascripts/angular.min.js")
        script(src="/javascripts/jquery.extend.js")
    body
        div.header
            h1 show me the money
        block content